<div class="text-center mt-3">
    <img src="https://d3nv2arudvw7ln.cloudfront.net/images/952/372/slide1_MainMenu%20HP%20CAR.jpg" width="300" height="300" class="rounded-circle" alt="...">
</div>
<div class="text-center mt-3" style="color: #E0FFFF;">
    <p>Bu otomasyon, otopark otomasyon sistemleri konusunda çok geniş bir seri sunarak, 20–30 araçlık en küçük otoparktan binlerce aracın giriş/çıkış yaptığı açık ve katlı otoparklara kadar her ihtiyacı karşılayacak ekipman ve sistem çözümleri sunmaktadır.</p>
</div>